/* 

1- common styles
2- general styles
3- sections
3.0- header sections
3.1- Home sections
3.2- About sections
3.3- portfolio sections
3.4- services sections
3.5- prices sections
3.6- team sections
3.7- Blogs sections
3.8- contact sections
3.9- footer sections
*/

/* 1- common */
/*

- overlay
- opacity hovor
- section header
- section padding
- hover effect 1 ( letf to right )
- hover effect 2 ( top to bottom )
*/ 

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hover-opacity {
  transition: opacity .5s;
}
.hover-opacity:hover{
  opacity: 0.8;
}

.btn-learn:hover{
  opacity: 0.9;
}

.ltr-effect {
  position: relative;
}
.ltr-effect::after {
  position: absolute;
  content: "";
  width: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333;
  z-index: -1;
  transition: width 0.5s;
} 

.ltr-effect:hover:after {
  width: 100%;
}



/* 2- general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Css3 */
}



/* container */
.container {
  width: 80%;
  margin: auto;
      }

       body{
        font-family: 'Varela Round', sans-serif;
       }

       .clear {
         clear: both;
       }
       h1,h2,h3,h4,h5,h6 {
        font-family: montserrat, sans-serif;
       }
       button {
         font-family: inherit;
       }
       
       a {
         text-decoration: none;
       }

       .pd-y {
         padding: 120px 0;
       }

       .section-header {
         text-align: center;
         margin-bottom: 20px;
       }

       .section-header .section-title {
         font-size: 35px;
         text-transform: capitalize;
         margin-bottom: 10px;
       }
       
       .section-header .line {
         display: block;
         height: 5px;
         width: 60px;
         margin: 0 auto 70px auto;
         background-color: #6195ff;
       }

       /* 3- sections */

       /* 3.1- header */
       .header {
         width: 100%;
         position: fixed;
         z-index: 10;
         background-color: rgba(0, 0, 0, 0.5);
        }

        .header-container {
          /* overflow: hidden; to solve float problem */
        }

        .header .logo {
          width: 40%;
          float: left;
        }

        .header .logo img {
          width: 20%;
          margin-top: 15px;
        }
        .header .nav {
          width: 60%;
          float: left;
          list-style: none;
          text-align: right;
        }

        .header .nav > li {
          display: inline-block;
          text-align: right;
        }

        .header .nav > li > a {
          color: white;
          display: block;
          padding: 30px 15px;
          font-size: 14px;
        }

        .header .nav > li > a.active:after,
        .header .nav > li > a:after {
          content: "";
          display: block;
          width: 0;
          height: 3px;
          margin-top: 2px;
          background-color: #6195ff;
          transition: width 0.5s;
        }

        .header .nav > li > a.active:after {
          width: 100%;
        }

        .header .nav > li > a:after {
          width: 0;
        }

        .header .nav > li > a:hover::after {
          width: 100%;
        }

        .dropdown {
          position: relative;
        }

        .dropdown-menu {
          position: absolute;
          background-color: #6195ff;
          width: 150px;
          text-align: center;
          left: -50%;
          top: 70%;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.5s ,visibility 0.5s ;
        }

        .dropdown-menu a {
          color: #fff;
          display: block;
          padding: 10px;
        }

        .dropdown:hover .dropdown-menu {
          opacity: 1;
          visibility: visible;
        }
     
        /*  Home sections      */
        .home {
          height: 100vh;
          background-image: url(../images/background/background1.jpg);
          background-size: cover; /* css3 */
          position: relative;
        }

        .home .title {
          color: white;
          font-size: 3.5rem;
          text-transform: uppercase;
        }

        .home .home-desc{
          margin: 15px 0;
          color: #fff;
          letter-spacing: 2px;
          line-height: 1.5;
        }

        .home-containt {
          position: absolute;
          width: 65%;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          text-align: center;
        }
        
        .home .btn {
          min-width: 160px;
          padding: 15px 0;
          border-radius: 5px;
          border: 0;
          cursor: pointer;
          font-size: 18px;
        }

        .home .btn-started {
          margin-right: 10px;
          background-color: white;
        }

        .home .btn-learn {
          background-color: #6195ff;
          color: white;
        }
        
        /*  About sections     */
        .about {

        }

        .about-content {
          overflow: hidden;
        }

        .about-item {
          width: 30%;
          float: left;
          text-align: center;
          border: 1px solid #e8e8e8;
          padding: 50px 20px;
        }

        .about-item:hover .about-item-title {
          color: #fff;
        }

        .about-item.mg{
          margin: 0 5%;
        }

        .about-item .icon {
          color: #6195ff;
          margin-bottom: 10px;
        }

        .about-item-title {
          text-transform: capitalize;
          margin-bottom: 10px;
          transition: color 0.5s;
        }

        .about-item-desc {
          line-height: 1,6;
          margin-bottom: 10px;
          color: #999;
        }

        .about-item-link {
          color: #6195ff;
        }

        /*  portfolio sections */
        .portfolio {
          background: #f9f9f9;
        }

        .portfoilo-content {
          overflow: hidden;
        }

        .portfolio-item {
          width: 32%;
          float: left;
          margin-bottom:25px;
          position: relative;
          padding: 20px;
        }

        .portfolio-item .layer-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.5s;
        }



        .portfolio-item:hover .layer-content {
          opacity: 1;
          visibility: visible;
        }

        .layer-content .layer-info {
          position: absolute;
          text-align: center;
          width: 80%;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }

        .layer-content .category {
            color:#6195ff ; 
            text-transform: uppercase;
            display: block;
            margin: 5px;       
            position: relative;
            top: 10px;
            opacity: 0;
            transition: top 0.5s,opacity 0.5s;  
            transition-delay:0.1s ;
        }

        .layer-content-title {
          font-size: 20px;
          color: #fff;
          margin-bottom: 10px;
          position: relative;
          top: 10px;
          opacity: 0;
          transition: top 0.5s,opacity 0.5s; 
          transition-delay:0.2s ;
        }

        .layer-content a {
          color: #fff;
          position: relative;
          top: 10px;
          opacity: 0;
          transition: top 0.5s,opacity 0.5s; 
          transition-delay:0.3s ;
        }

        .layer-content a i {
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          background-color: #6195ff;
        }

        .portfolio-item:hover .layer-content .category,
        .portfolio-item:hover .layer-content-title,
        .portfolio-item:hover .layer-content a {
          top: 0;
          opacity: 1;
        }

        .portfolio-item.mg {
          margin: 0 2%;
        }

        .portfolio-item img{
          width: 100%;
        }

        /*  services sections  */
        .portfolio {
          background-color: #f9f9f9;
        }

        .portfolio .container{
          height: 100%;
        }

        /*  prices sections    */
        /*  team sections      */
        /*  Blogs sections     */
        /*  contact sections   */
        /*  footer sections    */